# Cartelle di sistema e dipendenze
node_modules/
.agents/
tests/
js/

# File di configurazione e log
jest.config.js
package-lock.json
package.json
*.log

# File di sistema macOS/Windows
.DS_Store
Thumbs.db
